html {
  font-size: 10px;
  background: url('./darling.png')  center;
  background-size: cover;
}
h1{
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(255, 0, 149),
      0 0 82px rgb(255, 0, 170),
      0 0 92px rgb(255, 0, 234),
      0 0 102px rgb(226, 95, 215),
      0 0 151px rgb(207, 81, 180);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
  text-align: center;
  font-size: 80px;
  margin-top: 60px;

}


body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1);
  border-color: #be46c9;
  box-shadow: 0 0 10px #c941ce;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
